baseURL = "https://rguske.github.io/"
defaultContentLanguage = "en"
theme = "LoveIt"
#themesDir = "../.."
title = "Robert Guske"
# whether to use robots.txt
enableRobotsTXT = true
# whether to use git commit log
enableGitInfo = true
# whether to use emoji code
enableEmoji = true

[languages]
  [languages.en]
    weight = 1
    # language code
    languageCode = "en"
    # language name
    languageName = "English"
    # default amount of posts in each pages
    paginate = 15
    # [UA-XXXXXXXX-X] google analytics code
    googleAnalytics = "UA-122353302-1"
    # copyright description used only for seo schema
    copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License. © All rights reserved -2018"
    # Menu config
    [languages.en.menu]
      [[languages.en.menu.main]]
        identifier = "posts"
        # you can add extra information before the name (HTML format is supported), such as icons
        pre = ""
        # you can add extra information after the name (HTML format is supported), such as icons
        post = ""
        name = "Posts"
        url = "/posts/"
        # title will be shown when you hover on this menu link.
        title = "Read me"
        weight = 1
      [[languages.en.menu.main]]
        identifier = "tags"
        pre = ""
        post = ""
        name = "Tags"
        url = "/tags/"
        title = ""
        weight = 2
#      [[languages.en.menu.main]]
#        identifier = "categories"
#        pre = ""
#        post = ""
#        name = "Categories"
#        url = "/categories/"
#        title = ""
#        weight = 3
      [[languages.en.menu.main]]
        identifier = "VMware Microsites"
        pre = ""
        post = ""
        name = "VMware Microsites"
        url = "https://rguske.github.io/post/vmware-microsites-you-should-bookmark/"
        title = "VMware Microsites"
        weight = 4
      [[languages.en.menu.main]]
        identifier = "about"
        pre = ""
        post = ""
        name = "About"
        url = "/about/"
        title = "The Author"
        weight = 5
      [[languages.en.menu.main]]
        identifier = "Disclaimer"
        pre = ""
        post = ""
        name = "Disclaimer"
        url = "/disclaimer/"
        title = ""
        weight = 6
      [[languages.en.menu.main]]
        identifier = "github"
        pre = "<i class='fab fa-github fa-fw'></i>"
        post = ""
        name = ""
        url = "https://github.com/rguske"
        title = "GitHub"
        weight = 7
    [languages.en.params]
      # site description
      description = "rguske.github.io is a personal website which provides informational & detailed content, based on Robert Guske´s gained experiences with solutions by VMware (primarily)."
      # site keywords
      keywords = ["Robert", "Guske", "VMware", "CNA", "Cloud-Native", "Tanzu", "vRealize", "vSphere"]
      # App icon config
      [languages.en.params.app]
        # optional site title override for the app when added to an iOS home screen or Android launcher
        title = "Robert Guske"
        # whether to omit favicon resource links
        noFavicon = false
        # modern SVG favicon to use in place of older style .png and .ico files
        svgFavicon = "/favicon.ico"
        # Android browser theme color
        themeColor = "#ffffff"
        # Safari mask icon color
        iconColor = "#5bbad5"
        # Windows v8-10 tile color
        tileColor = "#da532c"
      # Search config
      [languages.en.params.search]
        enable = true
        # type of search engine ("lunr", "algolia")
        type = "lunr"
        # max index length of the chunked content
        contentLength = 4000
        # placeholder of the search bar
        placeholder = ""
        # max number of results length
        maxResultLength = 10
        # snippet length of the result
        snippetLength = 30
        # HTML tag name of the highlight part in results
        highlightTag = "em"
        # whether to use the absolute URL based on the baseURL in search index
        absoluteURL = false
        [languages.en.params.search.algolia]
          index = "index.en"
          appID = "PASDMWALPK"
          searchKey = "b42948e51daaa93df92381c8e2ac0f93"
      # Home page config
      [languages.en.params.home]
        # amount of RSS pages
        rss = 10
        # Home page profile
        [languages.en.params.home.profile]
          enable = true
          # Gravatar Email for preferred avatar in home page
          gravatarEmail = ""
          # URL of avatar shown in home page
          avatarURL = ""
          # title shown in home page
          title = 'Sometimes you gotta run before you can walk!'
          # subtitle shown in home page
          subtitle = '"Anthony Edward "Tony" Stark, also known as IRON MAN"'
          # whether to use typeit animation for subtitle
          typeit = false
          # whether to show social links
          social = true
          # disclaimer (HTML format is supported)
          disclaimer = "© All rights reserved - 2018"
        # Home page posts
        [languages.en.params.home.posts]
          enable = true
          # special amount of posts in each home posts page
          paginate = 10
      # Social config in home page
      [languages.en.params.social]
        GitHub = "rguske"
        Linkedin = "robert-guske-830853111"
        Twitter = "vmw_rguske"
        # Instagram = "xxxx"
        # Facebook = "xxxx"
        # Telegram = "xxxx"
        # Medium = ""
        # Gitlab = ""
        # Youtubelegacy = "xxxx"
        # Youtubecustom = ""
        # Youtubechannel = ""
        # Tumblr = ""
        # Quora = ""
        # Keybase = ""
        # Pinterest = ""
        # Reddit = ""
        # Codepen = ""
        # FreeCodeCamp = ""
        # Bitbucket = ""
        # Stackoverflow = ""
        # Weibo = ""
        # Odnoklassniki = ""
        # VK = ""
        # Flickr = ""
        Xing = "https://www.xing.com/profile/Robert_Guske/"
        # Snapchat = ""
        # Soundcloud = ""
        # Spotify = ""
        # Bandcamp = ""
        # Paypal = ""
        # Fivehundredpx = ""
        # Mix = ""
        # Goodreads = ""
        # Lastfm = ""
        # Foursquare = ""
        # Hackernews = ""
        # Kickstarter = ""
        # Patreon = ""
        # Steam = ""
        # Twitch = ""
        # Strava = ""
        # Skype = ""
        # Whatsapp = ""
        # Zhihu = ""
        # Douban = ""
        # Angellist = ""
        # Slidershare = ""
        # Jsfiddle = ""
        # Deviantart = ""
        # Behance = ""
        # Dribbble = ""
        # Wordpress = ""
        # Vine = ""
        # Googlescholar = ""
        # Researchgate = ""
        # Thingiverse = ""
        # Devto = ""
        # Gitea = ""
        # XMPP = ""
        # Matrix = ""
        # Bilibili = ""
        Email = "robert.guske@gmail.com"
        RSS = true
#        [languages.en.params.social.Mastodon]
#          id = "@xxxx"
#          prefix = "https://mastodon.technology/"

[params]
  # LoveIt theme version
  version = "0.2.X"
  # site default theme ("light", "dark", "auto")
  defaultTheme = "auto"
  # public git repo url only then enableGitInfo is true
  gitRepo = "https://github.com/rguske"
  # which hash function used for SRI, when empty, no SRI is used ("sha256", "sha384", "sha512", "md5")
  fingerprint = ""
  # date format
  dateFormat = "2006-01-02"

  # Header config
  [params.header]
    # desktop header mode ("fixed", "normal", "auto")
    desktopMode = "fixed"
    # mobile header mode ("fixed", "normal", "auto")
    mobileMode = "auto"
    # Header title config
    [params.header.title]
      # URL of the LOGO
      logo = "/img/avatar.png"
      # title name
      name = "Robert Guske"
      # you can add extra information before the name (HTML format is supported), such as icons
#      pre = "<i class='far fa-kiss-wink-heart fa-fw'></i>"
      # you can add extra information after the name (HTML format is supported), such as icons
      post = ""
      # whether to use typeit animation for title name
      typeit = false

  # Footer config
  [params.footer]
    enable = true
    # Custom content (HTML format is supported)
    custom = ''
    # whether to show Hugo and theme info
    hugo = false
    # whether to show copyright info
    copyright = true
    # whether to show the author
    author = true
    # site creation time
    since = 2018
    # ICP info only in China (HTML format is supported)
    icp = ""
    # license info (HTML format is supported)
    #license= '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'
    license= ''

  # Section (all posts) page config
  [params.section]
    # special amount of posts in each section page
    paginate = 20
    # date format (month and day)
    dateFormat = "01-02"
    # amount of RSS pages
    rss = 10

  # List (category or tag) page config
  [params.list]
    # special amount of posts in each list page
    paginate = 20
    # date format (month and day)
    dateFormat = "01-02"
    # amount of RSS pages
    rss = 10

  # Page config
  [params.page]
    # whether to hide a page from home page
    hiddenFromHomePage = false
    # whether to hide a page from search results
    hiddenFromSearch = false
    # whether to enable twemoji
    twemoji = false
    # whether to enable lightgallery
    lightgallery = true
    # whether to enable the ruby extended syntax
    ruby = true
    # whether to enable the fraction extended syntax
    fraction = true
    # whether to enable the fontawesome extended syntax
    fontawesome = true
    # whether to show link to Raw Markdown content of the content
    linkToMarkdown = true
    # whether to show the full text content in RSS
    rssFullText = false
    # Table of the contents config
    [params.page.toc]
      # whether to enable the table of the contents
      enable = true
      # whether to make the table of the contents automatically collapsed
      auto = false
    # Code config
    [params.page.code]
      # whether to show the copy button of the code block
      copy = true
      # the maximum number of lines of displayed code by default
      maxShownLines = 80
    # KaTeX mathematical formulas config (KaTeX https://katex.org/)
    [params.page.math]
      enable = false
      # default block delimiter is $$ ... $$ and \\[ ... \\]
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      # default inline delimiter is $ ... $ and \\( ... \\)
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      # KaTeX extension copy_tex
      copyTex = true
      # KaTeX extension mhchem
      mhchem = true
    # Mapbox GL JS config (Mapbox GL JS https://docs.mapbox.com/mapbox-gl-js)
    [params.page.mapbox]
      # access token of Mapbox GL JS
      accessToken = "pk.eyJ1IjoiZGlsbG9uenEiLCJhIjoiY2s2czd2M2x3MDA0NjNmcGxmcjVrZmc2cyJ9.aSjv2BNuZUfARvxRYjSVZQ"
      # style for the light theme
      lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
      # style for the dark theme
      darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
      # whether to add NavigationControl (https://docs.mapbox.com/mapbox-gl-js/api/#navigationcontrol)
      navigation = true
      # whether to add GeolocateControl (https://docs.mapbox.com/mapbox-gl-js/api/#geolocatecontrol)
      geolocate = true
      # whether to add ScaleControl (https://docs.mapbox.com/mapbox-gl-js/api/#scalecontrol)
      scale = true
      # whether to add FullscreenControl (https://docs.mapbox.com/mapbox-gl-js/api/#fullscreencontrol)
      fullscreen = true
    # Social share links in post page
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = false
      Linkedin = true
      Whatsapp = true
      Pinterest = false
      Tumblr = false
      HackerNews = false
      Reddit = true
      VK = false
      Buffer = false
      Xing = true
      Line = false
      Instapaper = false
      Pocket = false
      Digg = false
      Stumbleupon = false
      Flipboard = false
      Weibo = false
      Renren = false
      Myspace = false
      Blogger = true
      Baidu = false
      Odnoklassniki = false
      Evernote = true
      Skype = true
      Trello = true
      Mix = false
    # Comment config
    [params.page.comment]
      enable = true
      # Disqus comment config (https://disqus.com/)
      [params.page.comment.disqus]
        enable = false
        # Disqus shortname to use Disqus in posts
        shortname = "Robert Guske"
      # Gitalk comment config (https://github.com/gitalk/gitalk)
      [params.page.comment.gitalk]
        enable = false
        owner = "Robert Guske"
        repo = ""
        clientId = "43a5ae4c0831dac4ddfb"
        clientSecret = "778a5bb21f5db5fff71d98913905d9214014dbe6"
      # Valine comment config (https://github.com/xCss/Valine)
      [params.page.comment.valine]
        enable = false
        appId = "QGzwQXOqs5JOhN4RGPOkR2mR-MdYXbMMI"
        appKey = "WBmoGyJtbqUswvfLh6L8iEBr"
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
      # Telegram comments config (https://comments.app/)
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false
      # Commento comment config (https://commento.io/)
      [params.page.comment.commento]
        enable = false
      # Utterances comment config (https://utteranc.es/)
      [params.page.comment.utterances]
        enable = false
        # owner/repo
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
    # SEO config
    [params.page.seo]
      # Publisher info
      [params.page.seo.publisher]
        name = "Robert Guske"
        [params.page.seo.publisher.logo]
          url = "logo.png"
          width = 127
          height = 40
      # Logo info
      [params.page.seo.logo]
        url = ""
        width = 127
        height = 40
      # Image info
      [params.page.seo.image]
        url = "cover.png"
        width = 800
        height = 600

  # TypeIt config
  [params.typeit]
    # typing speed between each step (measured in milliseconds)
    speed = 100
    # blinking speed of the cursor (measured in milliseconds)
    cursorSpeed = 1000
    # character used for the cursor (HTML format is supported)
    cursorChar = "|"
    # cursor duration after typing finishing (measured in milliseconds, "-1" means unlimited)
    duration = -1

  # Site verification code for Google/Bing/Yandex/Pinterest/Baidu
  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""

  # Analytics config
  [params.analytics]
    enable = false
    # Google Analytics
    [params.analytics.google]
      id = "UA-122353302-1"
      # whether to anonymize IP
      anonymizeIP = true
      # whether to use cookie
      cookie = false
    # Fathom Analytics

  # CSS and JS Files CDN
  # CSS 和 JS 文件的 CDN 设置
  [params.cdn]
    # normalize.css@8.0.1 https://github.com/necolas/normalize.css
    normalizeCSS = ""
    # fontawesome-free@5.13.0 https://fontawesome.com/
    fontawesomeFreeCSS = ""
    # simple-icons@2.9.0 https://github.com/simple-icons/simple-icons
    # ("https://cdn.jsdelivr.net/npm/simple-icons@v2/icons/")
    simpleIconsPrefix = ""
    # animate.css@3.7.2 https://github.com/daneden/animate.css
    animateCSS = ""
    # smooth-scroll@16.1.3 https://github.com/cferdinandi/smooth-scroll
    smoothScrollJS = ""
    # autocomplete.js@0.37.1 https://github.com/algolia/autocomplete.js
    autocompleteJS = ""
    # lunr.js@2.3.8 https://lunrjs.com/
    lunrJS = ""
    # algoliasearch@4.2.0 https://github.com/algolia/algoliasearch-client-javascript
    algoliasearchJS = ""
    # lazysizes@5.2.0 https://github.com/aFarkas/lazysizes
    lazysizesJS = ""
    # object-fit-images@3.2.4 https://github.com/fregante/object-fit-images
    objectFitImagesJS = ""
    # twemoji@12.1.5 https://github.com/twitter/twemoji
    twemojiJS = ""
    # lightgallery.js@1.1.3 https://github.com/sachinchoolur/lightgallery.js
    # lg-thumbnail.js@1.1.0 https://github.com/sachinchoolur/lg-thumbnail.js
    # lg-zoom.js@1.0.1 https://github.com/sachinchoolur/lg-zoom.js
    lightgalleryCSS = ""
    lightgalleryJS = ""
    lightgalleryThumbnailJS = ""
    lightgalleryZoomJS = ""
    # clipboard.js@2.0.6 https://github.com/zenorocha/clipboard.js
    clipboardJS = ""
    # sharer.js@0.4.0 https://github.com/ellisonleao/sharer.js
    sharerJS = ""
    # typeit@7.0.4 https://github.com/alexmacarthur/typeit
    typeitJS = ""
    # katex@0.11.1 https://katex.org/
    katexCSS = ""
    katexJS = ""
    katexAutoRenderJS = ""
    katexCopyTexCSS = ""
    katexCopyTexJS = ""
    katexMhchemJS = ""
    # mermaid@8.5.0 https://github.com/knsv/mermaid
    mermaidJS = ""
    # echarts@4.7.0 https://echarts.apache.org/
    echartsJS = ""
    echartsMacaronsJS = ""
    # mapbox-gl@1.10.0 https://docs.mapbox.com/mapbox-gl-js
    mapboxGLCSS = ""
    mapboxGLJS = ""
    # aplayer@1.10.1 https://github.com/MoePlayer/APlayer
    aplayerCSS = ""
    aplayerJS = ""
    # meting@2.0.1 https://github.com/metowolf/MetingJS
    metingJS = ""
    # gitalk@1.6.2 https://github.com/gitalk/gitalk
    gitalkCSS = ""
    gitalkJS = ""
    # valine@1.4.14 https://valine.js.org/
    valineJS = ""

# Markup related configuration in Hugo
# Hugo 解析文档的配置
[markup]
  # Syntax Highlighting (https://gohugo.io/content-management/syntax-highlighting)
  # 语法高亮设置 (https://gohugo.io/content-management/syntax-highlighting)
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    # false is a necessary configuration (https://github.com/dillonzq/LoveIt/issues/158)
    # false 是必要的设置 (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false
  # Goldmark is from Hugo 0.60 the default library used for Markdown
  # Goldmark 是 Hugo 0.60 以来的默认 Markdown 解析库
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      # whether to use HTML tags directly in the document
      # 是否在文档中直接使用 HTML 标签
      unsafe = true
  # Table Of Contents settings
  # 目录设置
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

# Author config
[author]
  name = "Robert Guske"
  email = "robert.guske@gmail.com"
  link = "/about/"

# Sitemap config
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

# Permalinks config (https://gohugo.io/content-management/urls/#permalinks)
[Permalinks]
  # posts = ":year/:month/:filename"
  posts = "/post/:filename"

# Privacy config (https://gohugo.io/about/hugo-and-gdpr/)
[privacy]
  # privacy of the Google Analytics (replaced by params.analytics.google)
  # Google Analytics 相关隐私 (被 params.analytics.google 替代)
  [privacy.googleAnalytics]
    # ...
  [privacy.twitter]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true

# Options to make output .md files
[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

# Options to make output .md files
[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

# Options to make hugo output files
[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]
